<ion-view class ="reset-view">
  <ion-nav-title>
    <span>Change Password</span>
  </ion-nav-title>
  <ion-content>
      <div class="row">
         <div class="col col-center">
            <div class="card login-container" >
                <ng-form name="vm.Form" role="Form" id="Form" novalidate>

                <div class="list padding">
                  <label class="item item-input" show-hide-container> <input type="password"  placeholder="Enter your Password"
                     name="password" ng-model="vm.password" ng-minlength=6 required  show-hide-input> </label>
                  <label class="item item-input" show-hide-container> <input type="password"   placeholder="Enter a Password"
                     name="newPassword" ng-model="vm.newPassword" ng-minlength=6 required show-hide-input> </label>
                  <label class="item item-input" show-hide-container> <input type="password" placeholder="Repeat Password"
                     name="password2" ng-model="vm.password2" compare-to="vm.newPassword" required show-hide-input> </label>
                  <input type="hidden"  name="key" ng-model="vm.key"/>
                </div>

                  <div class="item item-body bottom-content">
                    <button type="submit" class="button button-positive button-block" ng-click="vm.submit()" >
                      Change  Password
                    </button>
                      <a ui-sref="app.dashboard" class="button button-assertive button-block" > Cancel </a>
                  </div>
              </ng-form>

            </div>


         </div>
      </div>

   </ion-content>
</ion-view>








<!-- <div class="container-fluid container-fullw">
  <div class="row">
    <div  class="col-md-12">
      <div class="panel panel-white">
        <div  class="panel-body">

          <div class="panel-body">
            <ng-form name="vm.Form" role="Form" id="Form" novalidate>

              <div class="row">
                <div class="col-md-6">
                  <fieldset>
                    <legend style="font-weight:bold">
                      CHANGE PASSWORD
                    </legend>


                    <div class="form-group" ng-class="{'has-error':vm.Form.password.$dirty && vm.Form.password.$invalid, 'has-success':vm.Form.password.$valid}">
                      <label class="control-label"> Current Password <span class="symbol required"></span> </label>
                      <input type="password" placeholder="Enter your Password" class="form-control" name="password" ng-model="vm.password" ng-minlength=6 required />
                      <span class="error text-small block" ng-if="vm.Form.password.$dirty && vm.Form.password.$error.required">Password is required.</span>
                      <span class="error text-small block" ng-if="vm.Form.password.$error.minlength">Password should be more than 6 letters !</span>
                    </div>

                    <div class="form-group" ng-class="{'has-error':vm.Form.newPassword.$dirty && vm.Form.newPassword.$invalid, 'has-success':vm.Form.newPassword.$valid}">
                      <label class="control-label"> New Password <span class="symbol required"></span> </label>
                      <input type="password" placeholder="Enter a Password" class="form-control" name="newPassword" ng-model="vm.newPassword" ng-minlength=6 required />
                      <span class="error text-small block" ng-if="vm.Form.newPassword.$dirty && vm.Form.newPassword.$error.required">Password is required.</span>
                      <span class="error text-small block" ng-if="vm.Form.newPassword.$error.minlength">Password should be more than 6 letters !</span>
                    </div>

                    <div class="form-group" ng-class="{'has-error':vm.Form.password2.$dirty && vm.Form.password2.$error.compareTo || vm.Form.password2.$dirty && vm.Form.password2.$invalid, 'has-success':vm.Form.password2.$valid}">
                      <label class="control-label"> Repeat Password <span class="symbol required"></span> </label>
                      <input type="password" placeholder="Repeat Password" class="form-control" name="password2" ng-model="vm.password2" compare-to="vm.newPassword" required />
                      <span class="error text-small block" ng-if="vm.Form.password2.$dirty && vm.Form.password2.$error.required">Repeat password is required!</span>
                      <span class="error text-small block" ng-if="vm.Form.password2.$dirty && vm.Form.password2.$error.compareTo">Passwords do not match!</span>
                    </div>

                    <button type="button" class="btn btn-wide btn-o btn-success" ng-click="vm.submit()">
                      Save
                    </button>
                    <a ui-sref="app.dashboard" class="btn btn-wide btn-danger btn-o"> Cancel </a>



                  </fieldset>
                </div>
              </div>
            </ng-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
